html, body, img, figure, article, section,
figcaption, a, ul, li, p, h1, h2, h3, h4,
nav, header, div, span {
  border: none;
  outline: none;
  padding: 0;
  margin: 0;

  background: transparent;
  font: inherit;
  color: inherit;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  color: #005;
}

.group::after {
  content: "";
  display: block;
  clear: both;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.section-header {
  text-align: center;
}

/********************************/
/*********** sections ***********/
/********************************/

section {
  display: block;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

article {
  display: block;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px 0;
}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 40px;
  /*text-shadow: 1px 1px 0 black;*/
}

/*********** greeting ***********/
.greeting {
  background-image: url('images/inspiration_point.jpg');
  background-size: cover;
  min-height: 500px;
  padding-top: 20px;
}

.greeting header {
  padding-top: 30px;
  padding-left: 250px;
  width: 300px;
}

h1.name {
  color: #404;
  border-bottom: 3px solid #044;
}

h1.job {
  color: #440;
  border-bottom: 3px solid #404;
}

h1.location {
  color: #044;
}

.about {
  margin: 40px;
  padding: 10px;
  /*border-top: 5px solid #404;*/
  /*border-bottom: 5px solid #404;*/
  background-color: rgba(255,255,255,1);
  color: #404;
}

.portrait {
  float: left;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  /*border: 3px solid #440;*/
  overflow: hidden;
}

/*********** contact links ***********/
.contact-links {
  background-color: #FFF;
}

.contact-links .section-header {
  color: #440;
}

.icon-list {
  padding-top: 20px;
  padding-bottom: 40px;
}

.icon-list > li {
  float: left;
  margin-right: 90px;
}

.icon-list > li:last-child {
  margin-right: 0;
}

.icon {
  display: block;
  text-align: center;
}

.icon img {
  width: 80px;
}

.icon > figcaption {
  transition: opacity 0.2s;
  font-size: 20px;
  opacity: 0;
}

.icon:hover > figcaption {
  opacity: 1;
}

/*********** projects ***********/
.projects {
  background-color: #FFA;
}

.projects .section-header {
  color: #044;
}

.project {
  padding: 30px 0;
  border-top: 3px solid #044;
}

/*.project::before {
  content: "";
  display: block;
  margin: 30px auto;
  height: 3px;
  width: 600px;
  background: rgba(0,68,68, 1);
}*/

.project-preview {
  display: block;
  margin-bottom: 15px;
}

.links-nav {
  height: 45px;
}

.link {
  display: block;
  border-right: 1px solid black;
  padding: 5px 20px;
  color: blue;
  text-decoration: underline;
  float: left;
}

figcaption.link {
  color: #005;
  text-decoration: none;
}

.link:first-child {
  padding-left: 0;
}

.link:last-child {
  border: none;
}

/* skills */

.skills {
  background-color: lightblue;
}

.skills .section-header {
  color: #404;
}

.skill-list > li {
  width: 100px;
  height: 140px;
  padding: 0px;
  float: left;
  text-align: center;
  font-size: 16px;
}

.skill-list img {
  width: 80px;
  height: auto;
}

/* footer */

footer {
  font-size: 12px;
  font-weight: 700;
  background-color: #bbb;
  color: #555;
  text-align: center;
  padding: 5px;
}
